
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body{
    background:#000;
}
.animation{
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}
.content{
    position: relative;
    
    
}

.content>h1{
    position: absolute;
    transform :translate(-50%, -50%);
 
  
}
.content h1:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
}
.content h1:nth-child(2){
    color: #03a9f4;
    animation: animate 4s ease-in-out infinite;
}
@keyframes animate {
    0%, 100%{
        clip-path: polygon(1% 43%, 16% 37%, 24% 34%, 40% 34%, 44% 41%, 54% 45%, 62% 48%, 72% 46%, 80% 41%, 85% 35%, 93% 34%, 98% 36%, 99% 100%, 2% 99%);
    }
    50%{
        clip-path: polygon(2% 54%, 11% 59%, 21% 62%, 28% 62%, 36% 61%, 41% 58%, 44% 55%, 47% 53%, 51% 51%, 61% 48%, 68% 51%, 77% 55%, 82% 57%, 89% 58%, 94% 60%, 98% 60%, 99% 98%, 1% 100%);
    }
};